<div class="row  animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body" [innerHtml]="legal">
        This is some text within a card block.
      </div>
    </div>
  </div>
</div>
