<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>
        <app-precio-bar [precio]="_pedidoService.pedido.precioFinal" title="{{ 'GENERAL.CURRENT_AMOUNT' | translate }}"></app-precio-bar>
        <div class="row">
          <div class="col">
            <h3 class="card-title establecimiento_name">{{ centro_name }}</h3>
            <h5 class="card-subtitle establecimiento_subtitle">{{ 'TIPO.SUBTITLE' | translate }}</h5>
          </div>
          <div class="col-3 my-auto">
            <button (click)="cancelarReserva()" class="btn btn-danger pull-right"><i class="fa fa-close"></i> Anular</button>
          </div>
        </div>

      </div>
    </div>
    <div>

      <div class="row justify-content-center">
        <div class=" col-md-4">
          <div class="card animated pulse" style="min-height: 200px;">
            <img class="card-img-top" src="assets/images/express_es.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <p class="card-text ">{{ 'TIPO.EXPRESS_MSG' | translate }}</p>
              <small class="font-weight-bold ">{{ 'TIPO.EXPRESS_MSG_2' | translate }}</small>
            </div>
            <div class="card-footer text-center">
              <a (click)="serviceSelection('express')" class="btn btn-primary" style="cursor:pointer;color:white;">{{ 'TIPO.BTN_EXPRESS' | translate }}</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card animated pulse" style="min-height: 200px;">
            <img class="card-img-top" [src]="'assets/images/reserva_' + translateService.getDefaultLang() + '.jpg'" alt="Card image cap">
            <div class="card-body text-center">
              <p class="card-text ">{{ 'TIPO.RESERVA_MSG' | translate }}</p>
              <small class="font-weight-bold ">{{ 'TIPO.RESERVA_MSG_2' | translate }}</small>
            </div>
            <div class="card-footer text-center">
              <a  (click)="serviceSelection('reserva')" class="btn btn-primary" style="cursor:pointer;color:white;">{{ 'TIPO.BTN_RESERVA' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
ALERTAS
-->
<swal
  #errorSwal
  title="!Upps!"
  text="{{errorMessage}}"
  type="warning"
  confirmButtonText="{{ 'GENERAL.OK' | translate }}"
  (confirm)="confirmSuccess()"
>
</swal>

<swal
  #infoSwal
  title="Servicio Express"
  text="{{infoMessage}}"
  type="info"
  confirmButtonText="{{ 'GENERAL.OK' | translate }}"
  (confirm)="confirmInfo()"
>
</swal>

<swal
  #anularSwal
  title="{{ 'TIPO.TITLE_CANCEL_MESSAGE' | translate }}"
  text="{{errorMessage}}"
  type="warning"
  confirmButtonText="{{ 'GENERAL.YES' | translate }}"
  (confirm)="confirmAnular()"
>
</swal>
