<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>
        <app-precio-bar [precio]="_pedidoService.pedido.precioFinal" title="{{ 'GENERAL.CURRENT_AMOUNT' | translate }}"></app-precio-bar>
        <div class="row">
          <div class="col">
            <h3 class="card-title establecimiento_name">{{ centro_name }}</h3>
            <h5 class="card-subtitle establecimiento_subtitle">{{ 'FECHAS.SUBTITLE' | translate }}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="form-control-label">{{ 'FECHAS.CHOOSE' | translate }}</label>
              <select class="form-control custom-select" [(ngModel)]="fecha" (ngModelChange)="changeSelectFecha($event)">
                <option *ngFor="let fecha of fechas; let i = index" [value]="i">{{ fecha }}</option>
              </select>
            </div>
          </div>
          <div class="col-4" *ngIf="hoyMismo == false">
            <div class="form-group">
              <label class="form-control-label">{{ 'FECHAS.CHOOSE_DELIVERY_TIME' | translate }}</label>
              <select class="form-control custom-select" [(ngModel)]="optionHora">
                <option value="cualquier" >{{ 'FECHAS.ANYTIME' | translate }}</option>
                <option value="mañana" >{{ 'FECHAS.MORNING' | translate }}</option>
                <option value="tarde" >{{ 'FECHAS.AFTERMOON' | translate }}</option>
                <option value="hora" >{{ 'FECHAS.CHOOSE_TIME' | translate }}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group" *ngIf="optionHora == 'hora'">
              <label class="form-control-label">{{ 'FECHAS.DELIVERY_TIME' | translate }}</label>
              <select class="form-control custom-select" [(ngModel)]="hora" (ngModelChange)="changeSelectHora($event)">
                <option *ngFor="let hora of rangoHoras; let i = index" [value]="i">{{hora}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col text-right">
            <button (click)="atras()" class="btn btn-outline-secondary"><i class="mdi mdi-arrow-left"></i> Atrás</button>
            <button (click)="siguiente()" class="btn btn-success">Siguiente <i class="mdi mdi-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
