<div class="row" style="min-height: 75vh;">
  <div class="col-12">
    <div class="card h-100">
      <div *ngIf="!showDetalle" animated fadeIn>
        <div *ngIf="notificaciones" class="card-body">
          <div *ngFor="let not of notificaciones; let i = index;">
            <div class="row align-items-center">
              <div class="col-md-2 d-sm-none d-md-block text-center">
                <img class="icon-not" src="assets/images/icon_{{not.tipo}}.png">
              </div>
              <div class="col-sm-10 col-md-9">
                <h4 class="title"><strong>{{not.title}}</strong></h4>
                <p class="mensaje">{{not.message}}</p>
                <button class="btn btn-sm btn-outline-info" *ngIf="not.tipo !== 'abono' && not.tipo != 'valora'" (click)="verDetalle(not)" >{{ 'NOTIFICATIONS.VIEW_DETAIL' | translate }}</button>
                <button class="btn btn-sm btn-outline-info" *ngIf="not.tipo === 'valora'" (click)="verDetalle(not)" >{{ 'NOTIFICATIONS.RATING_NOW' | translate }}</button>
              </div>
              <div class="col-sm-2 col-md-1">
                <a href="javascript:" (click)="deleteNotification(not)"><i class="fa fa-close fa-lg"></i></a>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div *ngIf="notificaciones.length == 0">
          <div class="row">
            <div class="col" style="text-align: center;">
              <h1 clasS="hv-green">Upps!!</h1>
              <p>No dispones de ninguna notificación en estos momentos</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showDetalle">
        <div *ngIf="loading" class="animated fadeIn">
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <i class="fa fa-3x fa-spin fa-spinner"></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!loading && currentDetalle" class="animated fadeIn">
          <div class="card-body">
            <div class="row">
              <div class="col-md-1 d-sm-none d-md-block text-center my-auto">
                <img class="icon-not" src="assets/images/icon_{{currentDetalle.not.tipo}}.png">
              </div>
              <div class="col b-r my-auto">
                <h2 *ngIf="currentDetalle.not.tipo == 'reserva'">Servicio Reserva</h2>
                <h2 *ngIf="currentDetalle.not.tipo == 'ahora'">Servicio Express</h2>
              </div>
              <div class="col-md-3 col-xs-6 b-r"> <strong>Referencia</strong>
                <br>
                <h3><strong>{{currentDetalle.pedido.ref}}</strong></h3>
              </div>
              <div class="col-md-3 col-xs-6">
                <strong>Precio</strong>
                <br>
                <h3><strong>{{ currentDetalle.pedido.precioFinal | number:'1.2-2'}}€</strong></h3>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 col-xs-12 b-r">
                <strong>Fecha de entrega</strong>
                <br>
                <h5 *ngIf="currentDetalle.pedido.tipo == 1"><strong>{{currentDetalle.pedido.fechaReserva.fecha.text}}</strong></h5>
                <h5 *ngIf="currentDetalle.pedido.tipo == 0"><strong>{{currentDetalle.pedido.fechaAhora.text}}</strong></h5>
              </div>

              <div class="col-md-6 col-xs-12">
                <strong>Hora de entrega</strong>
                <br>
                <h5 *ngIf="currentDetalle.pedido.tipo == 1 && currentDetalle.pedido.fechaReserva.hora == 'cualquier'"><strong>{{ 'DETALLE_PEDIDO.ANYTIME' | translate }}</strong></h5>
                <h5 *ngIf="currentDetalle.pedido.tipo == 1 && currentDetalle.pedido.fechaReserva.hora == 'mañana'"><strong>{{ 'DETALLE_PEDIDO.MORNING' | translate }}</strong></h5>
                <h5 *ngIf="currentDetalle.pedido.tipo == 1 && currentDetalle.pedido.fechaReserva.hora == 'tarde'"><strong>{{ 'DETALLE_PEDIDO.AFTERMOON' | translate }}</strong></h5>
                <h5 *ngIf="currentDetalle.pedido.tipo == 1 && currentDetalle.pedido.fechaReserva.hora == 'hora'"><strong>{{ 'DETALLE_PEDIDO.FROM' | translate }} {{currentDetalle.pedido.rangoHora.text}}</strong></h5>
                <h5 *ngIf="currentDetalle.pedido.tipo == 0"><strong>--</strong></h5>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <strong>Dirección de entrega</strong>
                <h5><strong>{{currentDetalle.pedido.fullDireccion.thoroughfare}} {{currentDetalle.pedido.fullDireccion.subThoroughfare}}</strong></h5>
                <h5><strong>{{currentDetalle.pedido.fullDireccion.postalCode}} {{currentDetalle.pedido.fullDireccion.locality}}</strong></h5>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-1">
                <img class="img-circle" width="70" [src]="currentDetalle.vanner.avatar_url">
              </div>
              <div class="col-md-4 b-r my-auto">
                <strong>Nombre vanner</strong>
                <h5><strong>{{currentDetalle.vanner | name}}</strong></h5>
              </div>

              <div class="col-md-3 b-r my-auto">
                <strong>Marca/modelo</strong>
                <h5><strong>{{currentDetalle.vanner.van.marca}}</strong></h5>
              </div>
              <div class="col-md-2 b-r my-auto">
                <strong>Matricula</strong>
                <h5><strong>{{currentDetalle.vanner.van.matricula}}</strong></h5>
              </div>

              <div class="col-md-2 text-center my-auto">
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contactar
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="tel:{{currentDetalle.vanner.phoneNumber}}"><i class="fa fa-phone"></i> Llamar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Chatear</a>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col text-center m-t-20">
                <button (click)="closeDetalle()" class="btn btn-danger">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
