<div class="row animated fadeIn" style="min-height: 75vh;">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5" style="margin-bottom: 5px;">
    <div class="card h-100">
      <div class="card-body">
        <div class="m-t-30 text-center">
          <img [src]="_userService.avatar" class="img-circle animated pulse" width="150" />
          <h4 class="card-title m-t-10 animated pulse">{{ usuario.first_name}} {{usuario.last_name.charAt(0)}}.</h4>
          <h6 class="card-subtitle">{{usuario.email}}</h6>
          <hr>
          <button (click)="cerrarSesion()" class="btn btn-danger"><i class="fa fa-power-off"></i> Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7" style="margin-bottom: 5px;">
    <div class="card h-100">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link" [ngClass]="{'active': activeTab == 0}"  data-toggle="tab" href="#editar" role="tab">Perfil</a> </li>
        <li class="nav-item"> <a class="nav-link" [ngClass]="{'active': activeTab == 1}" data-toggle="tab" href="#password" role="tab">Contraseña</a> </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane animated fadeIn" [ngClass]="{'active': activeTab == 1}" id="password" role="tabpanel">
          <div class="card-body">
            <form #formaRestablecer="ngForm">
              <div *ngIf="send" class="alert alert-success">Correo enviado correctamente</div>
              <div class="row">
                <div class="col">
                  <p>Introduce tu email de acceso actual y te enviaremos un enlace donde recibirá instrucciones para poder restablecer su contraseña</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group" [ngClass]="{'has-danger': !useremail.valid}">
                    <label for="useremail">Email*</label>
                    <input type="email" [(ngModel)]="correo" name="useremail" required placeholder="introduzca su email"
                           class="form-control" id="useremail" value="{{correo}}"
                           #useremail="ngModel"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                           [ngClass]="{ 'form-control-danger': !useremail.valid || useremail.errors }"
                    >
                    <small *ngIf="useremail.errors?.required && !useremail.pristine" class="form-control-feedback">Email es requerido.</small>
                    <small *ngIf="useremail.errors?.pattern" class="form-control-feedback">Email no tiene un formato válido</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button *ngIf="!sending" class="btn btn-success" (click)="restablecer()" [disabled]="!formaRestablecer.form.valid">Restablecer contraseña</button>
                  <button *ngIf="sending" class="btn btn-success"><i class="fa fa-spinner fa-spin"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-pane animated fadeIn" [ngClass]="{'active': activeTab == 0}" id="editar" role="tabpanel">
          <div class="card-body">
            <form #forma="ngForm">
              <div *ngIf="updated" class="alert alert-success">Se actualizó su perfil correctamente</div>
              <div *ngIf="sendVerification" class="alert alert-success">Se ha enviado un email de verificación</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-danger': !nombre.valid}">
                    <label for="nombre">Nombre*</label>
                    <input  type="text" id="nombre" [(ngModel)]="model.nombre" name="nombre" required
                            placeholder="Introduzca su nombre" class="form-control" value="{{model.nombre}}"
                            #nombre="ngModel"
                            [ngClass]="{'form-control-danger': !nombre.valid}"
                    >
                    <small [hidden]="nombre.valid || nombre.pristine"  class="form-control-feedback">El nombre es requerido.</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-danger': !apellidos.valid}">
                    <label for="apellidos">Apellidos*</label>
                    <input type="text" id="apellidos" [(ngModel)]="model.apellidos" name="apellidos" required
                           placeholder="Introduzca sus apellidos"
                           class="form-control"
                           [ngClass]="{ 'form-control-danger': !apellidos.valid}"
                           value="{{model.apellidos}}" #apellidos="ngModel">

                    <small [hidden]="apellidos.valid || apellidos.pristine"  class="form-control-feedback">Apellidos es requerido.</small>

                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-danger': !email.valid}">
                    <label for="email">Email de contacto*</label>
                    <input type="email" [(ngModel)]="model.email" name="email" required placeholder="introduzca su email"
                           class="form-control" id="email" value="{{model.email}}"
                           #email="ngModel"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                           [ngClass]="{ 'form-control-danger': !email.valid || email.errors }"
                    >
                    <small *ngIf="email.errors?.required && !email.pristine" (click)="verficarEmail()" class="form-control-feedback">Email es requerido.</small>
                    <small *ngIf="email.errors?.pattern" class="form-control-feedback">Email no tiene un formato válido</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-danger': errorPhone || errorPhoneCode}">
                    <label for="email">Verificación email cuenta</label>
                    <button *ngIf="!currentUser.emailVerified" (click)="verficarEmail()" class="btn btn-outline-danger form-control">Verificar email</button>
                    <br><label><span *ngIf="currentUser.emailVerified" class="badge badge-primary">Verificado</span></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-danger': errorPhone || errorPhoneCode}">
                    <label for="phone">Teléfono*</label>
                    <int-phone-prefix  name="phoneNumber" id="phone" [locale]="'es'"
                                       [(ngModel)]="model.phoneNumber"
                                       [ngClass]="{ 'form-control-danger': errorPhone || errorPhoneCode}">
                    </int-phone-prefix>
                    <small *ngIf="errorPhone" class="form-control-feedback"> El teléfono es requerido</small>
                    <small *ngIf="errorPhoneCode" class="form-control-feedback"> Introduce un código de país</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button *ngIf="!updating" class="btn btn-success" (click)="actualizar()" [disabled]="!forma.form.valid">Actualizar perfil</button>
                    <button *ngIf="updating" class="btn btn-success"><i class="fa fa-spinner fa-spin"></i></button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>


<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Content is Responsive</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger waves-effect waves-light">Save changes</button>
      </div>
    </div>
  </div>
</div>
