<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar" style="background-color: #24CA1F;">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard">
        <!-- Logo icon --><b>
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <img *ngIf="iconVisible" src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
        <!-- Light Logo icon -->
        <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
      </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span>
          <!-- dark Logo text -->
          <img *ngIf="!iconVisible" src="assets/images/logo.png" style="width:95%; margin:0;padding:0;" alt="homepage" class="dark-logo" />
          <!-- Light Logo text -->
          <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->

      <ul class="navbar-nav mr-auto">

        <li  class="nav-item"> <a  class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item"> <a (click)="showIconLogo()" class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item hidden-sm-down"></li>

      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">

        <!-- ============================================================== -->
        <!-- Notificaciones -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <!--
          <a class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
          </a>
          -->
          <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
            <ul>
              <li>
                <div class="drop-title">Notifications</div>
              </li>
              <li>
                <div class="message-center">
                  <!-- Message -->
                  <a href="#">
                    <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                    <div class="mail-contnet">
                      <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                  </a>
                  <!-- Message -->
                  <a href="#">
                    <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                    <div class="mail-contnet">
                      <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                  </a>
                  <!-- Message -->
                  <a href="#">
                    <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                    <div class="mail-contnet">
                      <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                  </a>
                  <!-- Message -->
                  <a href="#">
                    <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                    <div class="mail-contnet">
                      <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                  </a>
                </div>
              </li>
              <li>
                <a class="nav-link text-center" routerLink="/notificaciones"> <strong>Ver todas las notificaciones</strong> <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- ============================================================== -->
        <!-- End Notificaciones -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Messages -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <!--
          <a class="nav-link dropdown-toggle waves-effect waves-dark" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-comments-o"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
          </a>
          -->
          <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
            <ul>
              <li>
                <div class="drop-title">Tienes 4 nuevos mensajes</div>
              </li>
              <li>
                <div class="message-center">
                  <!-- Message -->
                  <a href="#">
                    <div class="user-img"> <img src="assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                  </a>
                  <!-- Message -->
                  <a href="#">
                    <div class="user-img"> <img src="assets/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                  </a>
                  <!-- Message -->
                  <a href="#">
                    <div class="user-img"> <img src="assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                  </a>
                  <!-- Message -->
                  <a href="#">
                    <div class="user-img"> <img src="assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                  </a>
                </div>
              </li>
              <li>
                <a class="nav-link text-center" routerLink="/messages"> <strong>Ver todos los mensajes</strong> <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- ============================================================== -->
        <!-- End Messages -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Language -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon" [ngClass]="{'flag-icon-es': currentIdioma=='es', ' flag-icon-gb': currentIdioma=='en'}"></i></a>
          <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
            <a *ngIf="currentIdioma == 'en'" class="dropdown-item" (click)="setIdioma('es')"><i class="flag-icon flag-icon-es"></i> {{'GENERAL.LANGUAGE_SPANISH' | translate}}</a>
            <a *ngIf="currentIdioma == 'es'" class="dropdown-item" (click)="setIdioma('en')"><i class="flag-icon flag-icon-gb"></i> {{'GENERAL.LANGUAGE_ENGLISH' | translate}}</a>
          </div>
        </li>
        <!-- ============================================================== -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <img *ngIf="userService?.avatar" class="profile-pic" [src]="userService.avatar" >
            <img *ngIf="!userService?.avatar" class="profile-pic" src="assets/images/default_avatar.png" >
          </a>
          <div class="dropdown-menu dropdown-menu-right animated flipInY">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-img">
                    <img *ngIf="userService.avatar" [src]="userService.avatar" >
                    <img *ngIf="!userService.avatar" src="assets/images/avatar_default.png" >
                  </div>
                  <div class="u-text" *ngIf="userService.userProfile">
                    <h4>{{ userService.userProfile | name }}</h4>
                    <p class="text-muted">{{ userService.userProfile.email }}</p>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="/miPerfil" routerLinkActive="active"><i class="ti-user"></i> {{ 'SIDE_MENU.MY_PROFILE' | translate }}</a></li>
              <li role="separator" class="divider"></li>
              <!--<li><a routerLink="/support" routerLinkActive="active"><i class="ti-headphone-alt"></i> {{ 'SIDE_MENU.CUSTOMER_SUPPORT' | translate }}</a></li> -->
              <li><a routerLink="/terminos" routerLinkActive="active"><i class="ti-book"></i> {{ 'SIDE_MENU.TERMS' | translate }}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" (click)="logout()"><i class="fa fa-power-off"></i> {{ 'SIDE_MENU.LOGOUT' | translate }}</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
