.services_thumb {
  width: 40px;
}

.icon-not {
  width:100%;
  max-width: 60px;
}
.icon-cerrar {
  width:20px;
}

.avatar{
  border-radius: 50%;
  width:80% !important;
  height:auto !important;
}
.icono {
  width:35px !important;
  height:35px !important;
  padding-top:5px;
}
.servicio{
  color:#01CC00 !important;
  font-weight: 700;
  padding-top:12px;
}
.name{
  font-weight: 700;
  padding-top:12px;
}

.texto {
  font-size: 0.8rem;
  color:#4d4d4d;
  margin:0px !important;
}

.fecha{
  font-size: 0.7rem !important;
  color:#8A8A8A !important;
  font-weight: 400;
  position:absolute;
  bottom:-40px;
  right: 10px;
}

.speech-bubble {
  padding:10px;
  position: relative;
  background: #c2f9dc;
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  width: 0;
  height: 0;
  border: 1.438em solid transparent;
  border-right-color: #c2f9dc;
  border-left: 0;
  border-top: 0;
  margin-top: -0.719em;
  margin-left: -1.037em;
}

.speech-bubble-answer {
  margin: 35px 10px 25px 70px;
  padding:10px;
  position: relative;
  background: #b2edf9;
  border-radius: .4em;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(168,168,168,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(168,168,168,1);
  box-shadow: 0px 0px 5px 0px rgba(168,168,168,1);
}

.speech-bubble-answer:after {
  content: '';
  position: absolute;
  left: 40;
  top: 0;
  width: 0;
  height: 0;
  border: 1.438em solid transparent;
  transform: rotate(-45deg);
  border-right-color: #b2edf9;
  border-left: 0;
  border-top: 0;
  margin-left: 0.6em;
  margin-top: -0.637em;
}

.name-answer{
  font-weight: 700;
}

.texto-answer {
  font-size: 0.8rem;
  color:#4d4d4d;
}

.fecha-answer{
  font-size: 0.7rem !important;
  color:#8A8A8A !important;
  font-weight: 400;
  position:absolute;
  bottom:-40px;
  right: 10px;
}

