<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>
        <app-precio-bar [precio]="_pedidoService.pedido.precioFinal" title="{{ 'GENERAL.CURRENT_AMOUNT' | translate }}"></app-precio-bar>
        <div class="row">
          <div class="col">
            <h3 class="card-title establecimiento_name">{{ centro_name }}</h3>
            <h5 class="card-subtitle establecimiento_subtitle">{{ 'TRANSPORTISTAS.SUBTITLE' | translate }}</h5>
          </div>
          <div class="col-4 my-auto">
            <button (click)="atras()" class="btn btn-outline-secondary pull-right"><i class="mdi mdi-arrow-left"></i> Atrás</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="vanner">
  <!-- Column -->
  <div class=" col-md-5">
    <div class="card">
      <img class="card-img-top img-fluid" [src]="vanner.van.main_foto_url" alt="Card image cap">
      <div class="card-body text-center">
        <div class=""> <img [src]="vanner.avatar_url" class="img-circle" width="80" />
          <h4 class="card-title m-t-10">{{ vanner | name}}</h4>
          <h6 class="card-subtitle">{{ 'TRANSPORTISTAS.DELIVERIES' | translate }}: {{vanner.entregas}}</h6>
          <div class="row text-center justify-content-md-center">
            <star-rating-comp labelText="({{ vanner.num_opiniones }})" [staticColor]="'ok'" [size]="'medium'" [readOnly]="true" [showHalfStars]="true" [step]="0.5" [labelPosition]="'right'" [starType]="'svg'" [rating]="vanner.rating" ><small>{{vanner.ratingshow | number: '1.1-1'}}</small></star-rating-comp>
          </div>
          <div class="text-center mb-5">
            <button  class="btn btn-primary m-t-10" style="background-color: #B2005B;">{{ 'DETALLE.CHATWITH' | translate }} {{vanner | name}} </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Perfil</a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#comments" role="tab">Valoraciones</a> </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="profile" role="tabpanel">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 col-xs-6 b-r"> <strong>{{ 'DETALLE.MAKE_MODEL' | translate }}</strong>
                <p>{{vanner.van.marca}} ({{vanner.van.year}})</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"> <strong>{{ 'DETALLE.CAR_NUMBER' | translate }}</strong>
                <p>{{ vanner.van.matricula}}</p>
              </div>
              <div class="col col-xs-6"> <strong>{{ 'DETALLE.CAPACITY' | translate }}</strong>
                <p>{{vanner.van.capacidad}} m<sup>3</sup></p>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-8 my-auto">
                <img *ngIf="vanner.van.capacidad_tipo === 'XL'" class="services_thumb" src="assets/images/vanners/icon_xl_green@2x.png">
                <img *ngIf="vanner.van.capacidad_tipo === 'M'" class="services_thumb" src="assets/images/vanners/icon_m_green@2x.png">
                <img *ngIf="vanner.van.capacidad_tipo === 'L'" class="services_thumb" src="assets/images/vanners/icon_l_green@2x.png">

                <img *ngIf="!vanner.montaje" class="services_thumb" src="assets/images/vanners/icon_montaje_grey@2x.png">
                <img *ngIf="vanner.montaje" class="services_thumb" src="assets/images/vanners/icon_montaje_green@2x.png">


                <img *ngIf="!vanner.reciclaje" class="services_thumb" src="assets/images/vanners/icon_reciclaje_grey@2x.png">
                <img *ngIf="vanner.reciclaje" class="services_thumb" src="assets/images/vanners/icon_reciclaje_green@2x.png">

                <img *ngIf="!vanner.pasajeros" class="services_thumb" src="assets/images/vanners/icon_pasajeros_grey@2x.png">
                <img *ngIf="vanner.pasajeros" class="services_thumb" src="assets/images/vanners/icon_pasajeros_green@2x.png">


                <img *ngIf="!vanner.electrico" class="services_thumb" src="assets/images/vanners/icon_electrico_grey@2x.png">
                <img *ngIf="vanner.electrico" class="services_thumb" src="assets/images/vanners/icon_electrico_green@2x.png">
              </div>
              <div class="col text-center my-auto">
                <button (click)="reservar()"  class="btn btn-success btn-lg m-t-10">{{ 'DETALLE.RESERVE' | translate }}</button>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-1"><img src="assets/images/comillas1.png" class="comillas1 img-responsive"></div>
              <div class="col"><p>{{vanner.description}}</p></div>
              <div class="col-1 align-content-end"><img src="assets/images/comillas2.png" class="comillas2 img-responsive"></div>
            </div>
            <hr/>

            <div class="row">
              <div class="col-2 my-auto"><img src="assets/images/vanners/icon_l_grey@2x.png" class="img-responsive" style="max-width:50px;"></div>
              <div class="col my-auto"><p>{{ 'DETALLE.SIZE_XL_MESSAGE' | translate }}</p></div>
            </div>

            <div class="row">
              <div class="col-2 my-auto"><img src="assets/images/vanners/icon_xl_grey@2x.png" class="img-responsive" style="max-width:50px;"></div>
              <div class="col my-auto"><p>{{ 'DETALLE.SIZE_L_MESSAGE' | translate }}</p></div>
            </div>

            <div class="row">
              <div class="col-2 my-auto"><img src="assets/images/vanners/icon_m_grey@2x.png" class="img-responsive" style="max-width:50px;"></div>
              <div class="col my-auto"><p>{{ 'DETALLE.SIZE_M_MESSAGE' | translate }}</p></div>
            </div>

            <div class="row">
              <div class="col-2 my-auto"><img src="assets/images/vanners/icon_reciclaje_grey@2x.png" class="img-responsive" style="max-width:50px;"></div>
              <div class="col my-auto"><p>{{ 'DETALLE.ASSEMBLY_MESSAGE' | translate }}</p></div>
            </div>

            <div class="row">
              <div class="col-2 my-auto"><img src="assets/images/vanners/icon_xl_grey@2x.png" class="img-responsive" style="max-width:50px;"></div>
              <div class="col my-auto"><p>{{ 'DETALLE.REMOVAL_MESSAGE' | translate }}</p></div>
            </div>

          </div>
        </div>
        <div class="tab-pane" id="comments" role="tabpanel">
          <div class="card-body">
            <div class="" style="height: 600px; overflow: auto;">
              <div *ngIf="opiniones" class="card-body  animated fadeIn">
                <div *ngFor="let opinion of opiniones; let i = index;" class="row">
                  <div class="col-12 align-self-start mb-5">
                    <div class="row">
                      <div class=" col-1 col-md-2 align-self-center">
                        <img *ngIf="opinion.pedido.usuario.photoUrl" [src]="opinion.pedido.usuario.photoUrl" class="avatar animated pulse">
                        <img *ngIf="!opinion.pedido.usuario.photoUrl" src="assets/images/default_avatar.png" class="avatar animated pulse">
                      </div>
                      <div *ngIf="opinion.opinion != ''" class="speech-bubble col-9 col-md-9 align-self-center animated pulse" >

                        <div class="row justify-content-end">
                          <div class="col">
                            <p class="name">{{ 'MIS_OPINIONES.FROM' | translate }} <strong>{{opinion.pedido.usuario | name}}</strong></p>
                          </div>
                          <div class="col-3 text-right">
                            <p class="servicio">{{opinion.pedido.ref}}</p>
                          </div>
                          <div class="col-2 text-left">
                            <img class="icono" [hidden]="opinion.pedido.tipo == 0" src="assets/images/icon_reserva.png">
                            <img class="icono" [hidden]="opinion.pedido.tipo == 1" src="assets/images/icon_ahora.png">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p class="texto">{{opinion.opinion}}</p>
                          </div>
                        </div>
                        <p class="fecha">{{opinion.date | momentRelative}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12  align-self-start">
                    <div *ngIf="opinion.answer" class="speech-bubble-answer animated zoomInDown">
                      <div class="row  justify-content-end">
                        <div class="col-md-12">
                          <p class="name-answer">Respuesta a <strong>{{opinion.usuario | name}}</strong></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <p class="texto-answer">{{opinion.answer.body}}</p>
                        </div>
                      </div>
                      <p class="fecha-answer">{{opinion.answer.date | momentRelative}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="opiniones?.length == 0">
                <div class="row">
                  <div class="col" style="text-align: center;">
                    <h1 clasS="hv-green">Upps!!</h1>
                    <p>Este vanner no dispone de valoraciones de los usuarios</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
