#map {
  width:100%;
  height:400px;
}
agm-map {
  height: 450px;
}

#wrapper {
  position: absolute; top: 0px; left: 0px; z-index: 999999999;
  width:100%;
  height:450px;
  pointer-events:none;
  text-align: center;
}

#wrapper img{
  position: absolute;
  top: 50%;
  left: 50%;
  width:30px;
  height:57px;
  margin-top: -55px;
  margin-left: -15px;
  z-index: 999999990;
}
