<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h3 class="card-title establecimiento_name">{{ centro_name }}</h3>
            <h5 class="card-subtitle establecimiento_subtitle">Seleccionar la dirección de entrega en el mapa</h5>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-7">
            <label for="dirInput">Dirección de entrega</label>
            <div class="input-group" [hidden]="searchActive">
              <input [(ngModel)]="currentDirection" type="text" disabled class="form-control" id="dirInput"
                     [placeholder]="dirPlaceHolder">
              <span (click)="searchActive = !searchActive" class="input-group-btn"> <button type="button" id="check-minutes" class="btn waves-effect waves-light btn-info"><i class="fa fa-search"></i></button> </span>
            </div>
            <div class="input-group" [hidden]="!searchActive">
              <input placeholder="Buscar dirección" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
              <span (click)="searchActive = !searchActive" class="input-group-btn"> <button type="button" id="check-minutes" class="btn waves-effect waves-light btn-danger">Cancelar</button> </span>
            </div>

          </div>
          <div class="form-group  offset-1 col-4">
            <label for="textInput">Detalle de la dirección</label>
            <input [(ngModel)]="currentDirectionDetail" type="text" class="form-control" id="textInput" aria-describedby="emailHelp" placeholder="Piso, puerta, ...">
          </div>
        </div>


        <div class="row text-center">
          <div class="col">
            <agm-map (mapReady)="mapReady($event)" (centerChange)="centerChange($event)"  [latitude]="lat" [longitude]="lng" (idle)="eventIdler()" [zoom]="zoom" (zoomChange)="zoomChange($event)">
              <!--<agm-marker [latitude]="centerlat" [longitude]="centerlng"></agm-marker>-->
            </agm-map>
            <!--<div id="map"></div>-->
            <div id="wrapper"><img [src]="icon_pin"></div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col text-right">
            <button (click)="atras()" class="btn btn-outline-secondary"><i class="mdi mdi-arrow-left"></i> Atrás</button>
            <button (click)="siguiente()" class="btn btn-success" [ngClass]="{'disabled':!inLimits}">Siguiente <i class="mdi mdi-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
