<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register2.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form ngNativeValidate #f="ngForm" class="form-horizontal form-material" id="loginform" (ngSubmit)="loginWithEmail(f)">
        <a routerLink="/login" class="text-center db"><img src="assets/images/logo.png" alt="Home" /></a>
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input [ngModel]="email" name="email" class="form-control" type="text" required placeholder="{{ 'GENERAL.EMAIL' | translate }}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input ngModel name="password" minlength="7" class="form-control" type="password" required placeholder="{{ 'GENERAL.PASSWORD' | translate }}">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input [(ngModel)]="recuerdame" name="recuerdame" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
              <label for="checkbox-signup"> {{ 'LOGIN.REMEMBER' | translate }} </label>
            </div>
            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> {{ 'LOGIN.FORGOT' | translate }}</a> </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-md btn-block btn-email" type="submit"> <i aria-hidden="true" class="fa fa-envelope"></i> {{ 'LOGIN.INIT_SESSION_EMAIL' | translate }}</button>
            <a (click)="loginWithFacebook()" class="btn btn-md btn-block btn-facebook" style="color:white !important;"> <i aria-hidden="true" class="fa fa-facebook"></i> {{ 'LOGIN.INIT_SESSION_FACEBOOK' | translate }}</a>
          </div>
        </div>

        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            {{ 'LOGIN.NO_ACCOUNT' | translate }} <a routerLink="/register" class="text-primary m-l-5"><b>{{ 'LOGIN.REGISTER_EMAIL' | translate }}</b></a>
          </div>
        </div>
      </form>
      <form ngNativeValidate #fr="ngForm" class="form-horizontal" id="recoverform">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>{{ 'LOGIN.RESET PASSWORD' | translate }}</h3>
            <p class="text-muted">{{ 'LOGIN.ENTER_EMAIL_TEXT' | translate }}</p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input ngModel name="emailReset" class="form-control" type="email" required placeholder="{{ 'GENERAL.EMAIL' | translate }}">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-md btn-block waves-effect waves-light" type="submit">{{ 'LOGIN.RECOVER' | translate }}</button>
            <button class="btn btm- btn-md btn-block waves-effect waves-light" id="to-recover-back">{{ 'GENERAL.CANCEL' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
