<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>
        <app-precio-bar [precio]="_pedidoService.pedido.precioFinal" title="{{ 'GENERAL.CURRENT_AMOUNT' | translate }}"></app-precio-bar>
        <div class="row">
          <div class="col">
            <h3 class="card-title establecimiento_name">{{ centro_name }}</h3>
            <h5 class="card-subtitle establecimiento_subtitle">{{ 'TICKET.SUBTITLE' | translate }}</h5>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="cabecera"><img src="assets/images/icon_van@3x.png"><span class="font-weight-bold hv-purple">{{ 'TICKET.TRANSPORT' | translate }}</span></div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>{{ 'TICKET.PURCHASE_AMOUNT' | translate }}</label>
              <select class="form-control custom-select" [(ngModel)]="compra" (ngModelChange)="changeSelect($event)">
                <option *ngFor="let franja of franjas; let i = index" [value]="i">{{franja.description}}</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="!_centroService.centro.orderConfiguration.opcion_cocina || (_centroService.centro.orderConfiguration.opcion_cocina && compra != 1)">
          <!-- CABECERA MONTAJES -->
          <div class="row mt-3">
            <div class="col-6">
              <div class="cabecera"><img src="assets/images/icon_montaje@3x.png"><span class="font-weight-bold hv-purple">{{ 'TICKET.ASSEMBLY' | translate }}</span></div>
            </div>
            <div class="col-6">
              <div class="switch pull-right">
                <label>
                  <input type="checkbox" [(ngModel)]="_pedidoService.pedido.montajeOption" [checked]="_pedidoService.pedido.montajeOption" (change)="montajeOptionChange()"><span class="lever switch-col-light-green"></span></label>
              </div>
            </div>
          </div>

          <hr/>

          <!-- MONTAJES -->
          <div *ngIf="_pedidoService.pedido.montajeOption" class="animated fadeIn">

            <div class="row mb-2">
              <div class="col mt-1" >
                <div class="subcabecera"><img src="assets/images/icon_montaje_sofas@3x.png"><span class=" hv-gray">{{ 'TICKET.ASSEMBLY_COUCH' | translate }}</span></div>
              </div>
            </div>

            <div class="row mt-1 ml-2">
              <div class="col">
                <input [(ngModel)]="_pedidoService.pedido.montajeSofa" (ngModelChange)="update()" type="checkbox" id="md_checkbox_1" class="filled-in chk-col-light-green" />
                <label for="md_checkbox_1">{{ 'TICKET.ASSEMBLY_OPTION_1' | translate }}</label>
              </div>
              <div class="col-2 text-center">
                <div *ngIf="_pedidoService.pedido.montajeSofa">
                  <select  class="form-control custom-select" (change)="cantidadMontajeSofaChange($event.target.value)">
                    <option value="1" selected>1 x {{_centroService.centro.precios.montaje.sofa}}€</option>
                    <option value="2">2 x {{_centroService.centro.precios.montaje.sofa}}€</option>
                    <option value="3">3 x {{_centroService.centro.precios.montaje.sofa}}€</option>
                  </select>
                </div>
              </div>
              <div class="col-2 my-auto text-right" *ngIf="_pedidoService.pedido.montajeSofa">
                <strong class="hv-green">{{(total_sofa | number:'1.2-2') + ' €'}}</strong>
              </div>
            </div>

            <div class="row mt-1 ml-2">
              <div class="col">
                <input [(ngModel)]="_pedidoService.pedido.montajeSillon" (ngModelChange)="update()" type="checkbox" id="md_checkbox_2" class="filled-in chk-col-light-green" />
                <label for="md_checkbox_2">{{ 'TICKET.ASSEMBLY_OPTION_2' | translate }}</label>
              </div>
              <div class="col-2 text-center">
                <div *ngIf="_pedidoService.pedido.montajeSillon">
                  <select class="form-control custom-select" (change)="cantidadMontajeSillonChange($event.target.value)">
                    <option value="1" selected>1 x {{_centroService.centro.precios.montaje.sillon}}€</option>
                    <option value="2">2 x {{_centroService.centro.precios.montaje.sillon}}€</option>
                    <option value="3">3 x {{_centroService.centro.precios.montaje.sillon}}€</option>
                  </select>
                </div>
              </div>
              <div class="col-2 my-auto text-right" *ngIf="_pedidoService.pedido.montajeSillon">
                <strong class="hv-green">{{(total_sillon | number:'1.2-2') + ' €'}}</strong>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col mt-1" >
                <div class="subcabecera"><img src="assets/images/icon_montaje_complementos@3x.png"><span class=" hv-gray">{{ 'TICKET.ACCESSORIES' | translate }}</span></div>
              </div>
            </div>

            <div class="row mt-1 ml-2">
              <div class="col">
                <input [(ngModel)]="_pedidoService.pedido.montajeComplemento" (ngModelChange)="update()" type="checkbox" id="md_checkbox_3" class="filled-in chk-col-light-green" />
                <label for="md_checkbox_3">{{ 'TICKET.ASSEMBLY_OPTION_3' | translate }}</label>
              </div>
              <div class="col-2 text-center">
                <div *ngIf="_pedidoService.pedido.montajeComplemento">
                  <select class="form-control custom-select" (change)="cantidadMontajeComplementoChange($event.target.value)">
                    <option value="1" selected>1 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                    <option value="2">2 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                    <option value="3">3 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                    <option value="4">4 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                    <option value="5">5 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                    <option value="6">6 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                    <option value="7">7 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                    <option value="8">8 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                    <option value="9">9 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                    <option value="10">10 x {{_centroService.centro.precios.montaje.complemento}}€</option>
                  </select>
                </div>
              </div>
              <div class="col-2 my-auto text-right" *ngIf="_pedidoService.pedido.montajeComplemento">
                <strong class="hv-green">{{(total_complemento | number:'1.2-2') + ' €'}}</strong>
              </div>
            </div>

            <!-- PAX -->
            <div class="row mb-2">
              <div class="col mt-1" >
                <div class="subcabecera"><img src="assets/images/icon_montaje_pax@3x.png"><span class=" hv-gray">{{ 'TICKET.PAX' | translate }}</span></div>
              </div>
            </div>

            <div class="row mt-1 ml-2">
              <div class="col">
                <input [(ngModel)]="paxOption" (ngModelChange)="update()" type="checkbox" id="md_checkbox_4" class="filled-in chk-col-light-green" />
                <label for="md_checkbox_4">{{ 'TICKET.PAX' | translate }}</label>
              </div>
              <div class="col-3 input-group" *ngIf="paxOption">
                <input [(ngModel)]="importePax" (keyup)="calculatePax($event)" type="number" class="form-control" data-mask="€ 999,999.99" placeholder="{{ 'TICKET.ENTER_AMOUNT_ASSEMBLY' | translate }}" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">€</span>
              </div>
            </div>

            <!-- OTROS MUEBLES -->
            <div class="row mb-2">
              <div class="col mt-1" >
                <div class="subcabecera"><img src="assets/images/icon_montaje_muebles@3x.png"><span class=" hv-gray">{{ 'TICKET.AMOUNT_ASSEMBLY' | translate }}</span></div>
              </div>
            </div>

            <div class="row mt-1 ml-2">
              <div class="col">
                <input [(ngModel)]="mueblesOption" (ngModelChange)="update()" type="checkbox" id="md_checkbox_5" class="filled-in chk-col-light-green" />
                <label for="md_checkbox_5">{{ 'TICKET.OTHERS' | translate }}</label>
              </div>
              <div class="col-3 input-group" *ngIf="mueblesOption">
                <input [(ngModel)]="importeMontaje" (keyup)="calculateMontaje($event)" type="number" class="form-control" data-mask="€ 999,999.99" placeholder="{{ 'TICKET.ENTER_AMOUNT_ASSEMBLY' | translate }}" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">€</span>
              </div>
            </div>

          </div>

          <!-- CABECERA USADOS -->
          <div class="row mt-3">
            <div class="col-6">
              <div class="cabecera"><img src="assets/images/icon_reciclaje@3x.png"><span class="font-weight-bold hv-purple">{{ 'TICKET.USED' | translate }}</span></div>
            </div>
            <div class="col-6">
              <div class="switch pull-right">
                <label>
                  <input type="checkbox" [(ngModel)]="_pedidoService.pedido.reciclajeOption" [checked]="_pedidoService.pedido.reciclajeOption" (change)="usadoOptionChange()"><span class="lever switch-col-light-green"></span></label>
              </div>
            </div>
          </div>

          <hr/>

          <!-- USADOS -->
          <div *ngIf="_pedidoService.pedido.reciclajeOption" class="animated fadeIn">

            <div class="row">
              <div class="col">
                <input [(ngModel)]="_pedidoService.pedido.sofa" (ngModelChange)="update()" type="checkbox" id="md_checkbox_6" class="filled-in chk-col-light-green" />
                <label for="md_checkbox_6">{{ 'TICKET.COUCH' | translate }}</label>
              </div>

              <div class="col-2 text-center">
                <div *ngIf="_pedidoService.pedido.sofa">
                  <select class="form-control custom-select" (change)="cantidadSofaChange($event.target.value)">
                    <option value="1" selected>1 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                    <option value="2">2 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                    <option value="3">3 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                    <option value="4">4 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                    <option value="5">5 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                    <option value="6">6 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                    <option value="7">7 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                    <option value="8">8 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                    <option value="9">9 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                    <option value="10">10 x {{this._centroService.centro.precios.usado.sofa}}€</option>
                  </select>
                </div>
              </div>

              <div class="col-2 my-auto text-right" *ngIf="_pedidoService.pedido.sofa">
                <strong class="hv-green">{{(total_sofa_usado | number:'1.2-2') + ' €'}}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <input [(ngModel)]="_pedidoService.pedido.colchon" (ngModelChange)="update()" type="checkbox" id="md_checkbox_7" class="filled-in chk-col-light-green" />
                <label for="md_checkbox_7">{{ 'TICKET.MATTRESS' | translate }}</label>
              </div>

              <div class="col-2 text-center">
                <div *ngIf="_pedidoService.pedido.colchon">
                  <select class="form-control custom-select"(change)="cantidadColchonChange($event.target.value)">
                    <option value="1" selected>1 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                    <option value="2">2 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                    <option value="3">3 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                    <option value="4">4 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                    <option value="5">5 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                    <option value="6">6 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                    <option value="7">7 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                    <option value="8">8 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                    <option value="9">9 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                    <option value="10">10 x {{this._centroService.centro.precios.usado.colchon}}€</option>
                  </select>
                </div>
              </div>

              <div class="col-2 my-auto text-right" *ngIf="_pedidoService.pedido.colchon">
                <strong class="hv-green">{{(total_colchon_usado | number:'1.2-2') + ' €'}}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <input [(ngModel)]="_pedidoService.pedido.mpeq" (ngModelChange)="update()" type="checkbox" id="md_checkbox_8" class="filled-in chk-col-light-green" />
                <label for="md_checkbox_8">{{ 'TICKET.SMALL_FURNITURE' | translate }}</label>
              </div>

              <div class="col-2 text-center">
                <div *ngIf="_pedidoService.pedido.mpeq">
                  <select class="form-control custom-select"(change)="cantidadMueblePequeChange($event.target.value)">
                    <option value="1" selected>1 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                    <option value="2">2 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                    <option value="3">3 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                    <option value="4">4 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                    <option value="5">5 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                    <option value="6">6 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                    <option value="7">7 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                    <option value="8">8 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                    <option value="9">9 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                    <option value="10">10 x {{this._centroService.centro.precios.usado.mpeq}}€</option>
                  </select>
                </div>
              </div>

              <div class="col-2 my-auto text-right" *ngIf="_pedidoService.pedido.mpeq">
                <strong class="hv-green">{{(total_mpeq_usado | number:'1.2-2') + ' €'}}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <input [(ngModel)]="_pedidoService.pedido.mgrande" (ngModelChange)="update()" type="checkbox" id="md_checkbox_9" class="filled-in chk-col-light-green" />
                <label for="md_checkbox_9">{{ 'TICKET.LARGE_FURNITURE' | translate }}</label>
              </div>

              <div class="col-2 text-center">
                <div *ngIf="_pedidoService.pedido.mgrande">
                  <select class="form-control custom-select" (change)="cantidadMuebleGrandeChange($event.target.value)">
                    <option value="1" selected>1 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                    <option value="2">2 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                    <option value="3">3 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                    <option value="4">4 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                    <option value="5">5 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                    <option value="6">6 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                    <option value="7">7 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                    <option value="8">8 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                    <option value="9">9 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                    <option value="10">10 x {{this._centroService.centro.precios.usado.mgrande}}€</option>
                  </select>
                </div>
              </div>

              <div class="col-2 my-auto text-right" *ngIf="_pedidoService.pedido.mgrande">
                <strong class="hv-green">{{(total_mgrande_usado | number:'1.2-2') + ' €'}}</strong>
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="_centroService.centro.orderConfiguration.opcion_cocina && compra == 1">
          <!-- CABECERA COCINAS -->
          <div class="row mt-3">
            <div class="col-6">
              <div class="cabecera"><img src="assets/images/icon_montaje_cocina@3x.png"><span class="font-weight-bold hv-purple">{{ 'TICKET.ASSEMBLY_KITCHEN_OPTION' | translate }}</span></div>
            </div>
          </div>
          <hr/>

          <!-- MEDICION COCINAS -->
          <div class="row mt-1 ml-2">
            <div class="col">
              <input [(ngModel)]="_pedidoService.pedido.cocina_medicion" (ngModelChange)="update()" type="checkbox" id="md_checkbox_kitchen_1" class="filled-in chk-col-light-green" />
              <label for="md_checkbox_kitchen_1">{{ 'TICKET.MEASUREMENT_SERVICE' | translate }} - {{(total_medicion| number:'1.2-2') + ' €'}}</label>
            </div>
          </div>

          <div class="row mt-2 ml-2">
            <div class="col">
              <label for="md_checkbox_5">{{ 'TICKET.METOD' | translate }} - {{ _centroService.centro.precios.montaje.metod | number:'1.2-2'}}€ / {{'TICKET.METRO' | translate}}</label>
            </div>
            <div class="col-5 input-group">
              <input [(ngModel)]="metros_metod" (keyup)="calculateMetod($event)" type="number" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$" class="form-control" data-mask="€ 999,999.99" placeholder="{{ 'TICKET.LINEAR_METOD' | translate }}" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">€</span>
            </div>
          </div>

          <div class="row mt-2 ml-2">
            <div class="col">
              <label for="md_checkbox_5">{{ 'TICKET.KNOXHULT' | translate }} - {{ _centroService.centro.precios.montaje.knoxhult | number:'1.2-2'}}€ / {{'TICKET.METRO' | translate}}</label>
            </div>
            <div class="col-5 input-group">
              <input [(ngModel)]="metros_knoxhult" (keyup)="calculateKnoxhult($event)" type="number" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$" class="form-control" data-mask="€ 999,999.99" placeholder="{{ 'TICKET.LINEAR_KNOXHULT' | translate }}" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">€</span>
            </div>
          </div>

          <!-- Reciclaje Cocinas Usadas -->


          <div class="row mt-3">
            <div class="col-6">
              <div class="cabecera"><img src="assets/images/icon_reciclaje@3x.png"><span class="font-weight-bold hv-purple">{{ 'TICKET.USED' | translate }}</span></div>
            </div>
          </div>
          <hr/>

          <div class="row mt-2 ml-2">
            <div class="col">
              <label for="md_checkbox_5">{{ 'TICKET.USED' | translate }} - {{ _centroService.centro.precios.usado.cocina | number:'1.2-2'}}€ / {{'TICKET.METRO' | translate}}</label>
            </div>
            <div class="col-5 input-group">
              <input [(ngModel)]="metros_cocina" step="0.1" (keyup)="calculateUsadoCocina($event)" type="number" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$" class="form-control" data-mask="€ 999,999.99" placeholder="{{ 'TICKET.LINEAR' | translate }}" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">€</span>
            </div>
          </div>
        </div>

      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col text-right">
            <button (click)="atras()" class="btn btn-outline-secondary"><i class="mdi mdi-arrow-left"></i> Atrás</button>
            <button *ngIf="_centroService.centro.orderConfiguration.opcion_cocina && compra == 1" [disabled]="_pedidoService.pedido.precioFinalMontajeCocina == 0" (click)="siguiente()" class="btn btn-success">Siguiente <i class="mdi mdi-arrow-right"></i></button>
            <button *ngIf="!_centroService.centro.orderConfiguration.opcion_cocina || (_centroService.centro.orderConfiguration.opcion_cocina && compra != 1)" (click)="siguiente()" class="btn btn-success">Siguiente2 <i class="mdi mdi-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
