<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>
        <app-precio-bar [precio]="_pedidoService.pedido.precioFinal" title="{{ 'GENERAL.CURRENT_AMOUNT' | translate }}"></app-precio-bar>
        <div class="row">
          <div class="col">
            <h3 class="card-title establecimiento_name">{{ centro_name }}</h3>
            <h5 class="card-subtitle establecimiento_subtitle">{{ 'TRANSPORTISTAS.SUBTITLE' | translate }}</h5>
          </div>
          <div class="col-4 my-auto">
            <button (click)="atras()" class="btn btn-outline-secondary pull-right"><i class="mdi mdi-arrow-left"></i> Atrás</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label class="form-control-label">{{ 'FECHAS.CHOOSE' | translate }}</label>
              <select class="form-control custom-select" [(ngModel)]="fecha" (ngModelChange)="changeSelectFecha($event)">
                <option *ngFor="let fecha of fechas; let i = index" [value]="i">{{ fecha }}</option>
              </select>
            </div>
          </div>
          <div class="col-12" *ngIf="hoyMismo == false">
            <div class="form-group">
              <label class="form-control-label">{{ 'FECHAS.CHOOSE_DELIVERY_TIME' | translate }}</label>
              <select class="form-control custom-select" [(ngModel)]="optionHora" (ngModelChange)="changeSelectFranja($event)">
                <option value="cualquier" >{{ 'FECHAS.ANYTIME' | translate }}</option>
                <option value="mañana" >{{ 'FECHAS.MORNING' | translate }}</option>
                <option value="tarde" >{{ 'FECHAS.AFTERMOON' | translate }}</option>
                <option value="hora" >{{ 'FECHAS.CHOOSE_TIME' | translate }}</option>
              </select>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" *ngIf="optionHora == 'hora'">
              <label class="form-control-label">{{ 'FECHAS.DELIVERY_TIME' | translate }}</label>
              <select class="form-control custom-select" [(ngModel)]="hora" (ngModelChange)="changeSelectHora($event)">
                <option *ngFor="let hora of rangoHoras; let i = index" [value]="i">{{hora}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LISTADO VANNERS -->
  <div class="col-md-8">
    <div *ngIf="vanners" class="animated fadeIn">
      <div class="row" *ngFor="let vanner of vanners;">
        <div class="col-md-12">
          <div class="card animated fadeIn" (click)="openVanner(vanner)" style="cursor:pointer;" >
            <div class="card-body" [ngClass]="{ 'no_disponible': !vanner.disponible }">
              <div class="row banda mb-1" *ngIf="vanner.disponible == false">
                <div class="col text-center">
                  <span *ngIf="_pedidoService.pedido.fechaReserva.hora == 'cualquier'">{{ 'TRANSPORTISTAS.COMPLETE_DAY' | translate }}</span>
                  <span *ngIf="_pedidoService.pedido.fechaReserva.hora == 'hora'">{{ 'TRANSPORTISTAS.COMPLETE_HOUR' | translate }}</span>
                  <span *ngIf="_pedidoService.pedido.fechaReserva.hora == 'mañana'">{{ 'TRANSPORTISTAS.COMPLETE_MORNING' | translate }}</span>
                  <span *ngIf="_pedidoService.pedido.fechaReserva.hora == 'tarde'">{{ 'TRANSPORTISTAS.COMPLETE_AFTERNOON' | translate }}</span>
                </div>
              </div>
              <div class="row" *ngIf="vanner.nuevo">
                <div class="col text-right">
                  <span class="badge badge-success">Nuevo</span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="row mt-1">
                    <div class="col my-auto">
                      <img [src]="vanner.avatar_url" class="rounded-circle avatar">
                      <div class="name_content">
                        <h4 class="font-weight-bold m-b-0">{{ vanner | name}}</h4>
                        <small>{{ 'TRANSPORTISTAS.DELIVERIES' | translate }}: {{vanner.entregas}}</small>
                      </div>
                      <div class="rating-content">
                        <span class="rating_number">{{ vanner.ratingshow | number: '1.1-1' }}</span>
                        <star-rating-comp labelText="({{ vanner.num_opiniones }})" [staticColor]="'ok'" [size]="'medium'"
                                          [readOnly]="true" [showHalfStars]="true" [step]="0.5" [labelPosition]="'right'" [starType]="'svg'" [rating]="vanner.ratingshow" >
                          <small class="rating-entregas">{{vanner.ratingshow | number: '1.1-1'}}</small>
                        </star-rating-comp>
                      </div>
                      <!--*ngIf="vanner.supervanner"-->
                      <div class="super" *ngIf="vanner.supervanner" >
                        <img src="assets/images/medalla.png" class="medalla"><span class="subtitle2">SuperVanner</span>
                      </div>
                    </div>
                  </div>

                  <div class="row align-items-center mt-1" *ngIf="vanner.description">
                    <hr>
                    <div class="col-1"><img src="assets/images/comillas1.png" class="comillas1 img-responsive"></div>
                    <div class="col-10 mt-2 b-t pt-2"><p>{{vanner.description | ellipsis:100}}</p></div>
                    <div class="col-1 align-content-end"><img src="assets/images/comillas2.png" class="comillas2 img-responsive"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="vanners?.length == 0 && !loading">
      <div class="row">
        <div class="col" style="text-align: center;">
          <h1 clasS="hv-green">Upps!!</h1>
          <p>En estos momentos no hay Vanners disponibles</p>
        </div>
      </div>
    </div>
    <div *ngIf="loading" class="animated fadeIn">
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <i class="fa fa-3x fa-spin fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
