

.medalla {
  width:15px;
  height:20px;
  opacity:0.8;
}
.subtitle2{
  color: #dfa922;
  font-size: 0.9rem;
  font-weight: 700;
  padding-left:10px;
}
.matricula {
  font-size: 0.9rem;
}

.avatar {
  width:80px;
  height:80px;
  min-height: 80px;
  min-width: 80px;
}
.name_content {
  position:absolute;
  top:20px;
  left:110px;
}

.super {
  position:absolute;
  top:45px;
  right:30px;
}

.entregas {
  position:absolute;
  top:0;
  left:100px;
}
.rating-content {
  position:absolute;
  top:20px;
  right:30px;
}

.rating_number {
  font-size: 0.9rem;
  text-align: right;
  position: absolute;
  bottom: 6px;
  left: 0px;
}
.rating-entregas{
  font-size: 0.9rem !important;
}

.van_image{
  width:100%;
  height:100%;
  min-height: 200px;

  background-repeat: no-repeat;

}

.no_disponible {
  opacity: 0.6;
}

.label-value {
  font-size: 1.0rem !important;
}

.banda {
  background-color: rgba(100,100,100,0.9);
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
}


