<div class="row justify-content-md-center text-center">
  <div class="col-2 text-center">
    <div class="circle rounded-circle text-center step" [ngClass]="{'step-initial':!selected1, 'step-selected animated jello':selected1, 'step-completed':completed1}">
      1
    </div>
    <span class="step-text" [ngClass]="{'step-text-active':selected1 || completed1}">Tienda</span>
    <div class="line-start" [ngClass]="{'line-active': completed1}"></div>
  </div>
  <div class="col-2 text-center">
    <div class="circle rounded-circle text-center step" [ngClass]="{'step-initial':!selected2, 'step-selected animated jello':selected2 , 'step-completed':completed2}">
      2
    </div>
    <span class="step-text" [ngClass]="{'step-text-active':selected2 || completed2}">Entrega</span>
    <div class="line-center-left" [ngClass]="{'line-active': selected2 || completed2}"></div>
    <div class="line-center-right" [ngClass]="{'line-active': completed2}"></div>
  </div>
  <div class="col-2">
    <div [ngClass]="{'circle rounded-circle text-center step step-initial':true, 'step-selected animated jello':selected3, 'step-completed':completed3}">
      3
    </div>
    <span class="step-text" [ngClass]="{'step-text-active':selected3 || completed3}">Ticket</span>
    <div class="line-center-left" [ngClass]="{'line-active': selected3|| completed3}"></div>
    <div class="line-center-right" [ngClass]="{'line-active': completed3}"></div>
  </div>
  <div class="col-2">
    <div class="circle step rounded-circle text-center" [ngClass]="{'step-initial':!selected4, 'step-selected animated jello':selected4, 'step-completed':completed4}">
      4
    </div>
    <span class="step-text" [ngClass]="{'step-text-active':selected4 || completed4}">Servicio</span>
    <div class="line-center-left" [ngClass]="{'line-active': selected4 || completed4}"></div>
    <div class="line-center-right" [ngClass]="{'line-active': completed4}"></div>
  </div>
  <div class="col-2">
    <div class="circle step rounded-circle text-center" [ngClass]="{'step-initial':!selected5, 'step-selected animated jello':selected5, 'step-completed':completed5}">
      5
    </div>
    <span class="step-text" [ngClass]="{'step-text-active':selected5 || completed5}">Vanner</span>
    <div class="line-center-left" [ngClass]="{'line-active': selected5 || completed5}"></div>
    <div class="line-center-right" [ngClass]="{'line-active': completed5}"></div>
  </div>
  <div class="col-2">
    <div class="circle step step-initial rounded-circle text-center" [ngClass]="{'step-initial':!selected6, 'step-selected animated jello':selected6, 'step-completed':completed6}">
      6
    </div>
    <span class="step-text" [ngClass]="{'step-text-active':selected6 || completed6}">Compra</span>
    <div class="line-end" [ngClass]="{'line-active': selected6 || completed6}"></div>
  </div>
</div>

