.line-start{
  position:absolute;
  top:30px;
  right:0;
  height:5px;
  background-color: #DBDBDB;
  width:50%;
}


.line-center-left{
  position:absolute;
  top:30px;
  left:0;
  height:5px;
  background-color: #DBDBDB;
  width:50%;
}

.line-center-right{
  position:absolute;
  top:30px;
  right:0;
  height:5px;
  background-color: #DBDBDB;
  width:50%;
}

.line-end{
  position:absolute;
  top:30px;
  left:0;
  height:5px;
  background-color: #DBDBDB;
  width:50%;
}

.line-active {
  background-color: #24CA1F;
}

.step {
  position:relative;
  z-index: 5;
  margin: 0 auto;
  width:60px;
  font-size: 2rem;
  font-weight: 600;
  max-width:60px;
  min-width: 60px;
  min-height: 60px;
}
.step-text {
  color: #DBDBDB;
  font-weight: 600;
}

.step-text-active {
  color: #4A4A4A;
}

.step-initial {
  background-color: white;
  border: solid 5px #DBDBDB;
  color: #DBDBDB;
}

.step-completed {
  background-color: #24CA1F;
  border: solid 5px #24CA1F;
  color:white;
}

.step-selected {
  background-color: white;
  border: solid 5px #24CA1F;
  color: #24CA1F;
}

.step-subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  color: #4A4A4A;
}
.step-title {
  font-size: 1.6rem;

}
