<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <img [src]="userService.avatar">
            <span class="hide-menu">{{ userService.userProfile | name }}</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/miPerfil" routerLinkActive="active"><i class="ti-user"></i> {{ 'SIDE_MENU.MY_PROFILE' | translate }} </a></li>
            <!--<li><a routerLink="/support" routerLinkActive="active"><i class="ti-headphone-alt"></i> {{ 'SIDE_MENU.CUSTOMER_SUPPORT' | translate }}</a></li>-->
            <li><a routerLink="/terminos" routerLinkActive="active"><i class="ti-book"></i> {{ 'SIDE_MENU.TERMS' | translate }}</a></li>
            <!--<li><a href="#" (click)="logout()"><i class="fa fa-power-off"></i> {{ 'SIDE_MENU.LOGOUT' | translate }}</a></li>-->
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li> <a class="waves-effect waves-dark" routerLink="/dashboard" routerLinkActive="active"><span><i class="fa fa-home"></i><span class="hide-menu">{{ 'SIDE_MENU.HOME' | translate }}</span></span></a>
        </li>
        <!--
        <li> <a class="waves-effect waves-dark" routerLink="/miPerfil" routerLinkActive="active"><span><i class="fa fa-user"></i><span class="hide-menu">{{ 'SIDE_MENU.MY_PROFILE' | translate }}</span></span></a>
        </li>
         -->
        <li> <a class="waves-effect waves-dark" [routerLink]="['/valoraciones']" routerLinkActive="active"><span><i class="mdi mdi-star"></i><span class="hide-menu">{{ 'SIDE_MENU.RATINGS' | translate }}</span></span></a>
        </li>
        <li class="nav-small-cap">{{ 'SIDE_MENU.MESSAGES' | translate | uppercase }}</li>
        <li> <a class="waves-effect waves-dark" routerLink="/messages" routerLinkActive="active" aria-expanded="false"><span><i class="fa fa-comments-o"></i><span class="hide-menu">{{ 'SIDE_MENU.CHAT' | translate }}</span><span [hidden]="chatService.numberChats == 0" class="badge-pill badge-success bg-hv-purple pull-right hide-menu">{{chatService.numberChats}}</span></span></a>
        </li>
        <li> <a class="waves-effect waves-dark" [routerLink]="['/notificaciones']"  routerLinkActive="active" aria-expanded="false"><span><i class="mdi mdi-message"></i><span class="hide-menu">{{ 'SIDE_MENU.NOTIFICATIONS' | translate }}</span><span [hidden]="notificationsService.numberNotifications == 0" class="badge-pill badge-success bg-hv-purple pull-right hide-menu">{{notificationsService.numberNotifications}}</span></span></a>
        </li>

        <li class="nav-small-cap">{{ 'SIDE_MENU.ORDERS' | translate | uppercase }}</li>
        <li> <a class="waves-effect waves-dark" routerLink="/reservasActivas" routerLinkActive="active" aria-expanded="false"><span><i class="mdi mdi-calendar-check"></i><span class="hide-menu">{{ 'SIDE_MENU.ACTIVE' | translate }}</span><span [hidden]="pedidosService.numberPeddosActivos == 0" class="badge-pill badge-success bg-hv-purple pull-right hide-menu">{{pedidosService.numberPeddosActivos}}</span></span></a>
        </li>
        <li> <a class="waves-effect waves-dark" routerLink="/reservasEntregadas" routerLinkActive="active" aria-expanded="false"><span><i class="mdi mdi-calendar-clock"></i><span class="hide-menu">{{ 'SIDE_MENU.HISTORIC' | translate }}</span></span></a>
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
