<div class="row  animated fadeIn" style="min-height: 75vh;">
  <div class="col-12">
    <div class="card h-100">
      <div class="card-body">
        <div *ngIf="valoraciones" class="card-body  animated fadeIn">
          <div *ngFor="let valoracion of valoraciones; let i = index;" class="row">
            <div class="col-12 align-self-start mb-5">
              <div class="row">
                <div class=" col-1 col-md-2 align-self-center">
                  <img [src]="valoracion.vanner.avatar_url" class="avatar animated pulse">
                </div>
                <div *ngIf="valoracion.opinion != ''" class="speech-bubble col-9 col-md-9 align-self-center animated pulse" >

                  <div class="row justify-content-end">
                    <div class="col">
                      <p class="name">{{ 'MIS_OPINIONES.ABOUT' | translate }} <strong>{{valoracion.vanner | name}}</strong></p>
                    </div>
                    <div class="col-3 text-right">
                      <p class="servicio">{{valoracion.pedido.ref}}</p>
                    </div>
                    <div class="col-2 text-left">
                      <img class="icono" [hidden]="valoracion.pedido.tipo == 0" src="assets/images/icon_reserva.png">
                      <img class="icono" [hidden]="valoracion.pedido.tipo == 1" src="assets/images/icon_ahora.png">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="texto">{{valoracion.opinion}}</p>
                    </div>
                  </div>
                  <p class="fecha">{{valoracion.date | momentRelative}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-12  align-self-start">
              <div *ngIf="valoracion.answer" class="speech-bubble-answer animated zoomInDown">
                <div class="row  justify-content-end">
                  <div class="col-md-12">
                    <p class="name-answer">Respuesta a <strong>{{valoracion.usuario | name}}</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="texto-answer">{{valoracion.answer.body}}</p>
                  </div>
                </div>
                <p class="fecha-answer">{{valoracion.answer.date | momentRelative}}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="valoraciones.length == 0">
          <div class="row">
            <div class="col" style="text-align: center;">
              <h1 clasS="hv-green">Upps!!</h1>
              <p>Aún no has realizado ninguna valoración de nuestros Vanners</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


