<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>
        <app-precio-bar [precio]="_pedidoService.pedido.precioFinal" title="{{ 'GENERAL.CURRENT_AMOUNT' | translate }}"></app-precio-bar>
        <div class="row">
          <div class="col">
            <h3 class="card-title establecimiento_name">{{ centro_name }}</h3>
            <h5 class="card-subtitle establecimiento_subtitle">{{ 'CENTIRO.SUBTITLE' | translate }}</h5>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <h4>{{ 'CENTIRO.CENTIRO_1' | translate }}</h4>
          </div>
          <div class="col-6">
            <div class="switch pull-right">
              <label>
                <input type="checkbox" [(ngModel)]="pedido.peatonal" [checked]="pedido.peatonal"><span class="lever switch-col-light-green"></span></label>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row mt-3">
          <div class="col-6">
            <h4>{{ 'CENTIRO.CENTIRO_2' | translate }}</h4>
          </div>
          <div class="col-6">
            <div class="switch pull-right">
              <label>
                <input type="checkbox" [(ngModel)]="pedido.ascensor" [checked]="pedido.ascensor"><span class="lever switch-col-light-green"></span></label>
            </div>
          </div>
        </div>

        <div *ngIf="pedido.montajeOption">
          <hr/>
          <div class="row mt-3">
            <div class="col-6">
              <h4>{{ 'CENTIRO.CENTIRO_3' | translate }}</h4>
            </div>
            <div class="col-6">
              <div class="switch pull-right">
                <label>
                  <input type="checkbox" [(ngModel)]="pedido.electricidad" [checked]="pedido.electricidad"><span class="lever switch-col-light-green"></span></label>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row mt-3">
            <div class="col-6">
              <h4>{{ 'CENTIRO.CENTIRO_4' | translate }}</h4>
            </div>
            <div class="col-6">
              <div class="switch pull-right">
                <label>
                  <input type="checkbox" [(ngModel)]="pedido.espacio" [checked]="pedido.espacio"><span class="lever switch-col-light-green"></span></label>
              </div>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col text-right">
            <button (click)="atras()" class="btn btn-outline-secondary"><i class="mdi mdi-arrow-left"></i> Atrás</button>
            <button (click)="siguiente()" class="btn btn-success">Siguiente <i class="mdi mdi-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
