<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- .chat-row -->
        <div class="chat-main-box">
          <!-- .chat-left-panel -->
          <div class="chat-left-aside  animated fadeIn">
            <div class="open-panel"><i class="ti-angle-right"></i></div>
            <div class="chat-left-inner">
              <div class="form-material">
                <input class="form-control p-20" type="text" placeholder="{{ 'MESSAGES.SEARCH' | translate }}">
              </div>
              <ul class="chatonline style-none ">
                <li *ngFor="let room of chats; let i = index;">
                  <a href="javascript:void(0)" (click)="openChat(room)"><img src="{{ room.vanner_avatar }}" alt="user-img" class="img-circle"> <span>{{ room.datos_vanner.payload.val() | name }}<span [hidden]="room.pending == 0" style="color:white;" class="badge-pill badge-success bg-hv-purple pull-right hide-menu">{{room?.pending}}</span> <small class="text-success">online</small></span></a>
                </li>
                <li class="p-20"></li>
              </ul>
            </div>

          </div>
          <!-- .chat-left-panel -->
          <!-- .chat-right-panel -->
          <div class="chat-right-aside">
            <div class="chat-main-header">
              <div class="p-20 b-b">
                <h3 *ngIf="chat" class="box-title animated fadeIn">{{ 'MESSAGES.CHAT_MSG' | translate }} : {{ chat?.datos_vanner.payload.val() | name }} </h3>
              </div>
            </div>
            <div class="chat-rbox" #chatlist>
              <ul class="chat-list p-20">
                <!--chat Row -->
                <li *ngFor="let msg of messages; let i = index;" class="itemChat" [ngClass]="{'reverse': msg.position == 'right', 'last': i == messages.length - 1}">
                  <div *ngIf="msg.showDate" class="date-container">
                    <p class="date">{{msg.timestamp  | chatDate:'chatlist'}}</p>
                  </div>

                  <div *ngIf="msg.position === 'left'">
                    <div class="chat-img"><img src="{{ chat.vanner_avatar }}" alt="user" /></div>
                    <div class="chat-content">
                      <h6>{{msg.timestamp | date: "HH:mm"}}</h6>
                      <div class="box bg-light-inverse">{{msg.body}}</div>
                    </div>
                  </div>
                  <div *ngIf="msg.position === 'right'">
                    <div class="chat-content">
                      <h6>{{msg.timestamp | date: "HH:mm"}}</h6>
                      <div class="box bg-hv-green">{{msg.body}}</div>
                    </div>
                    <div class="chat-img"><img src="{{ _userService.userProfile.avatar }}" alt="user" /></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-body b-t">
              <div class="row">
                <div class="col-8">
                  <textarea [(ngModel)]="message" placeholder="{{ 'MESSAGES.TYPE' |translate }}" class="form-control b-0"></textarea>
                </div>
                <div class="col-4 text-right">
                  <button (click)="sendMessage()" type="button" class="btn btn-info btn-circle btn-lg bg-hv-purple"><i class="fa fa-paper-plane-o"></i> </button>
                </div>
              </div>
            </div>
          </div>
          <!-- .chat-right-panel -->
        </div>
        <!-- /.chat-row -->
      </div>
    </div>
  </div>
</div>
