<div class="row" style="min-height: 75vh;">
  <div class="col-12">
    <div class="card h-100 animated fadeIn">
      <div *ngIf="!showDetalle" class="animated fadeIn">
        <div *ngIf="pedidos" class="card-body animated fadeIn">
          <div *ngFor="let pedido of pedidos; let i = index;">
            <div class="row  animated fadeIn">
              <div class="col-md-1 d-sm-none d-md-block text-center my-auto b-r">
                <img *ngIf="pedido.tipo == 1" class="icon" src="assets/images/icon_reserva.png">
                <img *ngIf="pedido.tipo == 0" class="icon" src="assets/images/icon_ahora.png">
              </div>
              <div class="col-md-2 text-center b-r">
                <strong>Referencia</strong>
                <h4 class="title"><strong>{{pedido.ref}}</strong></h4>
              </div>

              <div class="col-md-2 text-left b-r">
                <strong>Tipo</strong>
                <p class="tipo" *ngIf="pedido.tipo == 1">Servicio Reserva</p>
                <p class="tipo" *ngIf="pedido.tipo == 0 && !pedido.hoy">Servicio Express</p>
                <p class="tipo" *ngIf="pedido.tipo == 0 && pedido.hoy">Servicio Express-R</p>
              </div>
              <div class="col-md-5 text-center b-r">
                <strong>Importe</strong>
                <h4 class="title"><strong>{{pedido.precioFinal | number:'1.2-2'}}€</strong></h4>
              </div>
              <div class="col-md-2 text-center my-auto">
                <button (click)="verDetalle(pedido)" class="btn btn-outline-info btn-sm"><i class="fa fa-receipt"></i> Ver detalle</button>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div *ngIf="pedidos.length == 0 && !loading">
          <div class="row">
            <div class="col" style="text-align: center;">
              <h1 clasS="hv-green">Upps!!</h1>
              <p>No dispones de ninguna reserva activa en estos momentos</p>
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="animated fadeIn">
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <i class="fa fa-3x fa-spin fa-spinner"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div *ngIf="showDetalle" class="animated fadeIn">
        <div *ngIf="loading" class="animated fadeIn">
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <i class="fa fa-3x fa-spin fa-spinner"></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!loading && currentDetalle" class="animated fadeIn">
          <div class="card-body">
            <div class="row">
              <div class="col-md-1 d-sm-none d-md-block text-center my-auto">
                <img *ngIf="currentDetalle.tipo == 1" class="icon" src="assets/images/icon_reserva.png">
                <img *ngIf="currentDetalle.tipo == 0" class="icon" src="assets/images/icon_ahora.png">
              </div>
              <div class="col b-r my-auto">
                <h2 class="tipo" *ngIf="currentDetalle.tipo == 1">Servicio Reserva</h2>
                <h2 class="tipo" *ngIf="currentDetalle.tipo == 0 && !currentDetalle.hoy">Servicio Express</h2>
                <h2 class="tipo" *ngIf="currentDetalle.tipo == 0 && currentDetalle.hoy">Servicio Express-R</h2>
              </div>
              <div class="col-md-3 col-xs-6 b-r"> <strong>Referencia</strong>
                <br>
                <h3><strong>{{currentDetalle.ref}}</strong></h3>
              </div>
              <div class="col-md-3 col-xs-6">
                <strong>Precio</strong>
                <br>
                <h3><strong>{{ currentDetalle.precioFinal | number:'1.2-2'}}€</strong></h3>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 col-xs-12 b-r">
                <strong>Fecha de entrega</strong>
                <br>
                <h5 *ngIf="currentDetalle.tipo == 1"><strong>{{currentDetalle.fechaReserva.fecha.text}}</strong></h5>
                <h5 *ngIf="currentDetalle.tipo == 0"><strong>{{currentDetalle.fechaAhora.text}}</strong></h5>
              </div>

              <div class="col-md-6 col-xs-12">
                <strong>Hora de entrega</strong>
                <br>
                <h5 *ngIf="currentDetalle.tipo == 1 && currentDetalle.fechaReserva.hora == 'cualquier'"><strong>{{ 'DETALLE_PEDIDO.ANYTIME' | translate }}</strong></h5>
                <h5 *ngIf="currentDetalle.tipo == 1 && currentDetalle.fechaReserva.hora == 'mañana'"><strong>{{ 'DETALLE_PEDIDO.MORNING' | translate }}</strong></h5>
                <h5 *ngIf="currentDetalle.tipo == 1 && currentDetalle.fechaReserva.hora == 'tarde'"><strong>{{ 'DETALLE_PEDIDO.AFTERMOON' | translate }}</strong></h5>
                <h5 *ngIf="currentDetalle.tipo == 1 && currentDetalle.fechaReserva.hora == 'hora'"><strong>{{ 'DETALLE_PEDIDO.FROM' | translate }} {{currentDetalle.pedido.rangoHora.text}}</strong></h5>
                <h5 *ngIf="currentDetalle.tipo == 0"><strong>--</strong></h5>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <strong>Dirección de entrega</strong>
                <h5><strong>{{currentDetalle.fullDireccion.thoroughfare}} {{currentDetalle.fullDireccion.subThoroughfare}}</strong></h5>
                <h5><strong>{{currentDetalle.fullDireccion.postalCode}} {{currentDetalle.fullDireccion.locality}}</strong></h5>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-1">
                <img class="img-circle" width="70" [src]="currentDetalle.vanner.avatar_url">
              </div>
              <div class="col-md-4 b-r my-auto">
                <strong>Nombre vanner</strong>
                <h5><strong>{{currentDetalle.vanner | name}}</strong></h5>
              </div>

              <div class="col-md-3 b-r my-auto">
                <strong>Marca/modelo</strong>
                <h5><strong>{{currentDetalle.vanner.van.marca}}</strong></h5>
              </div>
              <div class="col-md-2 b-r my-auto">
                <strong>Matricula</strong>
                <h5><strong>{{currentDetalle.vanner.van.matricula}}</strong></h5>
              </div>

              <div class="col-md-2 text-center my-auto">
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contactar
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="tel:{{currentDetalle.vanner.phoneNumber}}"><i class="fa fa-phone"></i> Llamar</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Chatear</a>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col text-center m-t-20">
                <button (click)="closeDetalle()" class="btn btn-danger">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
