<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>
        <app-precio-bar [precio]="_pedidoService.pedido.precioFinal" title="{{ 'CONFIRMATION.TOTAL' | translate }}"></app-precio-bar>
        <div class="row">
          <div class="col">
            <h3 class="card-title establecimiento_name">{{ centro_name }}</h3>
            <h5 class="card-subtitle establecimiento_subtitle">{{ 'CONFIRMATION.SUBTITLE' | translate }}</h5>
          </div>
          <div class="button-group col-3 my-auto">
            <button (click)="cancelarReserva()" class="btn btn-danger pull-right"><i class="fa fa-close"></i> Anular</button>
            <button (click)="atras()" class="btn btn-outline-secondary pull-right"><i class="mdi mdi-arrow-left"></i> Atrás</button>
          </div>
        </div>

        <div *ngIf="_pedidoService.pedido.precioFinalMontajeCocina == 0 || _pedidoService.pedido.precioFinalMontajeCocina == null">
          <div class="row mt-3">
            <div class="col-8">
              <div class="cabecera"><img src="assets/images/icon_van@3x.png"><span class="font-weight-bold hv-purple">{{ 'CONFIRMATION.TRANSPORT' | translate }}</span></div>
            </div>
            <div class="col-4">
              <p class="font-weight-bold pull-right">{{precioTransporte | currency:'EUR':true:'1.2-2'}}</p>
            </div>
          </div>
          <hr>

          <p class="font-weight-bold hv-green">{{ 'CONFIRMATION.TRANSPORT_SERVICE' | translate }} {{tipoServicio}}</p>
          <div class="row">
            <div class="col-8">
              <p>{{ 'CONFIRMATION.AMOUNT' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{ compra }}</p>
            </div>
          </div>
        </div>

        <!-- MONTAJE COCINA -->
        <div *ngIf="_pedidoService.pedido.precioFinalMontajeCocina > 0">

          <div class="row mt-3">
            <div class="col-8">
              <div class="cabecera"><img src="assets/images/icon_montaje_cocina@3x.png"><span class="font-weight-bold hv-purple">{{ 'CONFIRMATION.KITCHEN_ASSEMBLY' | translate }}</span></div>
            </div>
            <div class="col-4">
              <p class="font-weight-bold pull-right">{{_pedidoService.pedido.precioFinalMontajeCocina | currency:'EUR':true:'1.2-2'}}</p>
            </div>
          </div>
          <hr>
          <!-- Medición -->
          <div class="row" *ngIf="_pedidoService.pedido.cocina_medicion">
            <div class="col">
              <p>{{ 'CONFIRMATION.MEASURE_SERVICE' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right"> {{_centroService.centro.precios.montaje.cocina_med | currency:'EUR':true:'1.2-2'}}</p>
            </div>
          </div>

          <!-- Metod -->
          <div class="row" *ngIf="_pedidoService.pedido.metros_metod > 0">
            <div class="col">
              <p>{{ 'TICKET.METOD' | translate }} ({{_pedidoService.pedido.metros_metod}} m. x {{ _centroService.centro.precios.montaje.metod | number:'1.2-2'}}€)</p>
            </div>
            <div class="col-4">
              <p class="pull-right"> {{(_pedidoService.pedido.metros_metod * _centroService.centro.precios.montaje.metod) | currency:'EUR':true:'1.2-2'}}</p>
            </div>
          </div>

          <!-- Metod -->
          <div class="row" *ngIf="_pedidoService.pedido.metros_knoxhult > 0">
            <div class="col">
              <p>{{ 'TICKET.KNOXHULT' | translate }} ({{_pedidoService.pedido.metros_knoxhult}} m. x {{ _centroService.centro.precios.montaje.knoxhult | number:'1.2-2'}}€)</p>
            </div>
            <div class="col-4">
              <p class="pull-right"> {{(_pedidoService.pedido.metros_knoxhult * _centroService.centro.precios.montaje.knoxhult) | currency:'EUR':true:'1.2-2'}}</p>
            </div>
          </div>

        </div>

        <!-- RECICLAJE COCINAS -->
        <div *ngIf="_pedidoService.pedido.precioFinalMontajeCocina > 0 && _pedidoService.pedido.precioFinalReciclajeCocina > 0">
          <div class="row mt-3">
            <div class="col-8">
              <div class="cabecera"><img src="assets/images/icon_reciclaje@3x.png"><span class="font-weight-bold hv-purple">{{ 'CONFIRMATION.USED' | translate }}</span></div>
            </div>
            <div class="col-4">
              <p class="font-weight-bold pull-right">{{_pedidoService.pedido.precioFinalReciclajeCocina | currency:'EUR':true:'1.2-2'}}</p>
            </div>
          </div>
          <hr>

          <!-- Cocina usada -->
          <div class="row" *ngIf="this._pedidoService.pedido.montajeSofa">
            <div class="col">
              <p>{{ 'TICKET.USED_KITCHEN' | translate }} ({{_pedidoService.pedido.metros_cocina_usada}} m. x {{ _centroService.centro.precios.usado.cocina | number:'1.2-2'}}€)</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{(_pedidoService.pedido.metros_cocina_usada * _centroService.centro.precios.usado.cocina) | currency:'EUR':true:'1.2-2'}}</p>
            </div>
          </div>

        </div>

        <!-- MONTAJE MUEBLES -->
        <div *ngIf="this._pedidoService.pedido.montajeOption">
          <div class="row mt-3">
            <div class="col">
              <div class="cabecera"><img src="assets/images/icon_montaje@3x.png"><span class="font-weight-bold hv-purple">{{ 'CONFIRMATION.ASSEMBLY' | translate }}</span></div>
            </div>
            <div class="col-4">
              <p class="font-weight-bold pull-right">{{(precioMontaje | number:'1.2-2') + ' €'}}</p>
            </div>
          </div>

          <hr>

          <!-- Sofá composición -->
          <div class="row" *ngIf="this._pedidoService.pedido.montajeSofa">
            <div class="col">
              <p>{{ 'TICKET.ASSEMBLY_OPTION_1' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{ _pedidoService.pedido.montajeSofa_cantidad}} x {{ _centroService.centro.precios.montaje.sofa }}€</p>
            </div>
          </div>

          <!-- Sillón individual -->
          <div class="row" *ngIf="this._pedidoService.pedido.montajeSillon">
            <div class="col">
              <p>{{ 'TICKET.ASSEMBLY_OPTION_2' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{ _pedidoService.pedido.montajeSillon_cantidad}} x {{ _centroService.centro.precios.montaje.sillon }}€</p>
            </div>
          </div>

          <!-- Complemento -->
          <div class="row" *ngIf="this._pedidoService.pedido.montajeComplemento">
            <div class="col">
              <p>{{ 'TICKET.ASSEMBLY_OPTION_3' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{ _pedidoService.pedido.montajeComplemento_cantidad}} x {{ _centroService.centro.precios.montaje.complemento }}€</p>
            </div>
          </div>

          <!-- Importe de montaje -->
          <div class="row" *ngIf="_pedidoService.pedido.precioMontaje > 0">
            <div class="col">
              <p>{{ 'CONFIRMATION.AMOUNT_ASSEMBLY' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{(_pedidoService.pedido.precioMontaje | number:'1.2-2') + ' €'}}</p>
            </div>
          </div>

          <!-- PAX -->
          <div class="row" *ngIf="this._pedidoService.pedido.precioPax > 0">
            <div class="col">
              <p>{{ 'CONFIRMATION.ENTER_AMOUNT_ASSEMBLY_PAX' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{(_pedidoService.pedido.precioPax | number:'1.2-2') + ' €'}}</p>
            </div>
          </div>
        </div>

        <!-- RECICLAJE MUEBLES -->
        <div *ngIf="this._pedidoService.pedido.reciclajeOption">
          <div class="row mt-3">
            <div class="col-8">
              <div class="cabecera"><img src="assets/images/icon_reciclaje@3x.png"><span class="font-weight-bold hv-purple">{{ 'CONFIRMATION.USED' | translate }}</span></div>
            </div>
            <div class="col-4">
              <p class="font-weight-bold pull-right">{{(precioReciclaje | number:'1.2-2') + ' €'}}</p>
            </div>
          </div>
          <hr>
          <div class="row" *ngIf="_pedidoService.pedido.colchon">
            <div class="col">
              <p>{{ 'CONFIRMATION.MATTRESS' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{ this._pedidoService.pedido.colchon_cantidad}} x {{ this._centroService.centro.precios.usado.colchon }}€</p>
            </div>
          </div>

          <div class="row" *ngIf="_pedidoService.pedido.sofa">
            <div class="col">
              <p>{{ 'CONFIRMATION.COUCH' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{ this._pedidoService.pedido.sofa_cantidad}} x {{ this._centroService.centro.precios.usado.sofa }}€</p>
            </div>
          </div>

          <div class="row" *ngIf="_pedidoService.pedido.mpeq">
            <div class="col">
              <p>{{ 'CONFIRMATION.SMALL_FURNITURE' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{ this._pedidoService.pedido.mpeq_cantidad}} x {{ this._centroService.centro.precios.usado.mpeq }}€</p>
            </div>
          </div>

          <div class="row" *ngIf="_pedidoService.pedido.mgrande">
            <div class="col">
              <p>{{ 'CONFIRMATION.LARGE_FURNITURE' | translate }}</p>
            </div>
            <div class="col-4">
              <p class="pull-right">{{ this._pedidoService.pedido.mgrande_cantidad}} x {{ this._centroService.centro.precios.usado.mgrande }}€</p>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col text-right">
            <button (click)="actionPago()" class="btn btn-success">{{ 'CONFIRMATION.PAY' | translate }} {{(_pedidoService.pedido.precioFinal | number:'1.2-2') + ' €'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #anularSwal
  title="{{ 'TIPO.TITLE_CANCEL_MESSAGE' | translate }}"
  text="{{errorMessage}}"
  type="warning"
  confirmButtonText="{{ 'GENERAL.YES' | translate }}"
  (confirm)="confirmAnular()"
>
</swal>
