.establecimiento-content {
  margin-top:10px;
}
.establecimiento-title{
  margin-top:40px;
  color: #B7B9BB;
  margin-bottom: 40px;
}

a.list-group-item.establecimiento-selector{
  color: #24CA1F !important;
  font-weight: 600;
}

a.list-group-item.establecimiento-selector:first-child{
  border-top: 1px solid rgba(0, 0, 0, .125);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

