<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>

        <div *ngIf="active == 1" class="card text-center establecimiento-content h-100  animated fadeIn">
          <h5 class="card-title establecimiento-title">Seleccione un establecimiento</h5>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <a routerLink="" *ngFor="let centro of centros" (click)="itemSelected(centro)" class="list-group-item list-group-item-action establecimiento-selector">{{ centro.name }}</a>
                <a *ngIf="!centros" class="list-group-item list-group-item-action establecimiento-selector"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
              </ul>
            </div>
          </div>
          <div style="height:200px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
