<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register2.jpg);">
  <div class="login-box card">
    <div class="card-body">

      <form ngNativeValidate novalidate [formGroup]="forma" (ngSubmit)="registrarUsuario()" class="form-horizontal form-material form-control-line" id="loginform">
        <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo.png" alt="Home" /></a>
        <h3 class="box-title m-t-40 m-b-0">{{ 'REGISTER.TITLE' | translate }}</h3>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="{{ 'REGISTER.FIRST_NAME' | translate }}">
          </div>
        </div>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input formControlName="apellidos" name="apellidos" class="form-control" type="text" required placeholder="{{ 'REGISTER.LAST_NAME' | translate }}">
          </div>
        </div>

        <div class="form-group m-t-20">
          <div class="col-xs-10">
            <input formControlName="phone" name="phone" class="form-control" type="text" placeholder="{{ 'REGISTER.PHONE' | translate }}">
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <input formControlName="correo" name="correo" class="form-control" type="email" required placeholder="{{ 'REGISTER.EMAIL' | translate }}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input formControlName="password" name="password" class="form-control" type="password" required placeholder="{{ 'REGISTER.PASSWORD' | translate }}">
            <small *ngIf="errorPasswordLength && !forma.pristine" class="form-control-feedback text-danger">{{ 'REGISTER.WEAK_PASSWORD_ERROR' | translate }}</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="{{ 'REGISTER.PASSWORD_CONFIRM' | translate }}" data-validation-match-match="password">
            <small *ngIf="forma.errors?.sonIguales == true && !forma.pristine" class="form-control-feedback text-danger">{{ 'REGISTER.ERROR_PASSWORD' |translate }}</small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input formControlName="condiciones" name="condiciones" id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup"> {{ 'REGISTER.TERMS_TXT' | translate }} <a href="javascript;" data-toggle="modal" data-target=".bs-example-modal-lg">{{ 'REGISTER.TERMS_LINK' | translate }}</a></label>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-email btn-md btn-block waves-effect waves-light" type="submit">{{ 'REGISTER.SIGN_UP' | translate }}</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>{{ 'REGISTER.ALREADY' | translate }} <a routerLink="/login" class="text-info m-l-5"><b>{{ 'REGISTER.SIGN_IN' | translate }}</b></a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- Términos modal content -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">{{ 'REGISTER.TERMS_LINK' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body" [innerHtml]="legal"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">{{ 'GENERAL.CLOSE' | translate }}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<swal
  #condicionesSwal
  title="{{ 'GENERAL.WARNING_ALERT_TITLE' | translate }}"
  text="{{ 'GENERAL.TERMS_ALERT_MESSAGE' | translate }}"
  type="warning"
  confirmButtonText="{{ 'GENERAL.OK' | translate }}"
  >
</swal>

<swal
  #errorSwal
  title="!Upps!"
  type="warning"
  confirmButtonText="{{ 'GENERAL.OK' | translate }}"
>
</swal>

<swal
  #successSwal
  title="{{ 'GENERAL.SUCCESS_ALERT_TITLE' | translate }}"
  text="{{ 'GENERAL.SUCCESS_MESSAGE' | translate }}"
  type="success"
  confirmButtonText="{{ 'GENERAL.OK' | translate }}"
  (confirm)="confirmSuccess()"
>
</swal>
