<div class="row bar mt-3">
  <div class="col-6 my-auto">
    <h4 class="font-weight-bold ajuste">{{title}}</h4>
  </div>
  <div class="col-6 my-auto">
    <h3 class="font-weight-bold text pull-right ajuste">{{ (precio | number:'1.2-2') + ' €'}}</h3>
  </div>
</div>
