<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col">
            <app-steps [active]="active"></app-steps>
          </div>
        </div>
        <app-precio-bar [precio]="_pedidoService.pedido.precioFinal" title="{{ 'GENERAL.CURRENT_AMOUNT' | translate }}"></app-precio-bar>
        <div class="row">
          <div class="col">
            <h3 class="card-title establecimiento_name">{{ centro_name }}</h3>
            <h5 class="card-subtitle establecimiento_subtitle">{{ 'PAGO.SUBTITLE' | translate }}</h5>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col"><h3 class="card-title establecimiento_name">{{ 'PAGO.CREDIT_CARD' | translate }}</h3></div>
              <div class="col my-auto text-right">
                <img class="cardIcon" src="assets/images/MasterCard.png">
                <img class="cardIcon" src="assets/images/Visa.png">
                <img class="cardIcon" src="assets/images/AmericanExpress.png">
              </div>
            </div>
            <hr>

            <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
              <div class="form-group">
                <label for="name" class="control-label"><strong>{{ 'PAGO.NAME' | translate}}</strong></label>
                <input id="name" required  formControlName="name" type="text" [(ngModel)]="cardName"
                       class="form-control text-uppercase" placeholder="{{ 'PAGO.NAME_APPEARS' | translate}}">
                <!--<small class="form-control-feedback"> This is inline help </small>-->
              </div>
              <div id="card-element" class="field"></div>
              <div id="card-errors" role="alert"></div>
              <div class="row mt-2">
                <div class="col text-center">
                  <button type="submit" class="btn btn-lg btn-primary">{{ 'PAGO.PAY' | translate }} {{_pedidoService.pedido.precioFinal | number:'1.2-2'}}€</button>
                </div>
              </div>
            </form>
            <!--
            <div class="form-group">
              <label class="control-label"><strong>{{ 'PAGO.NAME' | translate}}</strong></label>
              <input type="text" [(ngModel)]="cardName"
                     (keyup)="keyPressCardName($event.keyCode, $event.target.value, $event)"
                     class="form-control text-uppercase" placeholder="{{ 'PAGO.NAME_APPEARS' | translate}}">

            </div>
            <div class="form-group">
              <label class="control-label"><strong>{{ 'PAGO.CARD_NUMBER' | translate}}</strong></label>
              <input (keyup)="keyPressCardNumber($event.keyCode, $event.target.value)" type="text" [ngClass]="{'tarjeta': true,'visa': tipoTarjeta == 'Visa',
              'master': tipoTarjeta == 'MasterCard', 'american': tipoTarjeta == 'American Express'}"
                     [(ngModel)]="cardNumber" [textMask]="{mask: mask_number}"
                     class="form-control text-uppercase" placeholder="4242 4242 4242 4242">

            </div>

            <div class="row">
              <div class="col my-auto">
                <p><strong>{{ 'PAGO.EXPIRY' | translate }}</strong></p>
              </div>
              <div class="col-3">
                <div class="form-group has-success">
                  <label class="control-label">Mes</label>
                  <select class="form-control custom-select" [(ngModel)]="cardExpiryMonth">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group has-success">
                  <label class="control-label">Año</label>
                  <select class="form-control custom-select" [(ngModel)]="cardExpiryYear">
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                    <option value="23">2023</option>
                    <option value="24">2024</option>
                    <option value="25">2025</option>
                    <option value="26">2026</option>
                    <option value="27">2027</option>
                    <option value="28">2028</option>
                    <option value="29">2029</option>
                    <option value="30">2030</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label class="control-label"><strong>{{ 'PAGO.CVV' | translate}}</strong></label>
                  <input (keyup)="keyPressCVV($event.keyCode, $event.target.value)" type="text"
                         [(ngModel)]="cardCVV" [textMask]="{mask: mask_cvc}" [ngClass]="{ 'cvv': !validCVV, 'cvvOK':validCVV }" class="form-control" placeholder="999">
                </div>
              </div>
              <div class="col text-left my-auto">
                <img class="icon_cvv" src="assets/images/icon_cvv@3x.png">
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-lg btn-primary">{{ 'PAGO.PAY' | translate }} {{_pedidoService.pedido.precioFinal | number:'1.2-2'}}€</button>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col"><h3 class="card-title establecimiento_name">PayPal</h3></div>
              <div class="col my-auto text-right">
                <img class="cardIcon" src="assets/images/icon_paypal@3x.png">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col text-center">
                <p>{{ 'PAGO.TEXT_PAYPAL' | translate }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <button disabled class="btn btn-lg btn-primary">{{ 'PAGO.PAY' | translate }} {{_pedidoService.pedido.precioFinal | number:'1.2-2'}}€</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<swal
  #yeahSwal
  imageUrl=""
  imageWidth=""
  html=""
  confirmButtonText="{{ 'GENERAL.OK' | translate }}"
  (confirm)="confirmSuccess()"
>
</swal>

<swal
  #errorSwal
  title="!Upps!"
  text=""
  type="error"
  confirmButtonText="{{ 'GENERAL.OK' | translate }}"
>
</swal>

<swal
  #loadingSwal
  html=""
  imageUrl=""
  imageWidth=""
  showCancelButton="false"
  showConfirmButton="false"
>
</swal>
