.cardIcon {
  width:40px;
  height:40px;
}
.cardIcon_large {
  width:45px;
  height:45px;
}
.icon_cvv {
  width:60px;
  height:60px;
}

.tarjeta{
  background: url('../../../assets/images/icon_abono_servicio@3x.png');
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position: left;
  background-size: 25px 25px;
  padding-left: 45px;
  color:red;
}

.visa{
  background: url('../../../assets/images/Visa.png');
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position-x: 20px;
  background-position: left;
  background-size: 40px 40px;
  color: limegreen;
}

.master{
  background: url('../../../assets/images/MasterCard.png');
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position-x: 20px;
  background-position: left;
  background-size: 40px 40px;
  color: limegreen;

}

.american{
  background: url('../../../assets/images/AmericanExpress.png');
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position-x: 20px;
  background-position: left;
  background-size: 40px 40px;
  color: limegreen;
}

.cvvOK {
  color:limegreen;
}

.cvv {
  color: red;
}

input,
.StripeElement {
  height: 40px;
  padding: 0px 12px;

  background-color: white;
  border: 1px solid #9c9c9c;
  border-radius: 4px;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
  border: 1px solid cornflowerblue;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.alert_text {
  text-align: center;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1.5rem;
}

.ref {
  color: #01CC00;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
}
